* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

nav {
  background-color: lightgray;
}

nav .title {
  font-weight: bold;
}

nav span {
  margin: 1em;
}

#content {
  margin: 1em;
  width: 800px;
}

#assignment-controls {
  margin-bottom: 1em;
}

#assignment-controls #api-buttons {
  float: right;
}

#assignment-items {
  border: 2px solid black;
  padding: 0.5em 0.5em 0 0.5em;
}

#assignment-items table {
  border-collapse: collapse;
  width: 100%;
  background-color: beige;
  border: 1px solid black;
  margin-bottom: 0.5em;
}

#assignment-items td {
  border: 1px dotted black;
  text-align: left;
}

#assignment-items tr td:first-child {
  width: 1%;
  white-space: nowrap;
  background-color: tan;
  padding-right: 1em;
}

#assignment-items input[type="text"] {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}
